body {
  background: url("../images/bg-4.jpg");
  font-family: "Courier", monospace;
  border-image: url("../images/border_700_2.png") 100 0 100 0;
  border-top: 23px;
  border-bottom: 23px;
/*  border-top: 5px solid #222222;
  border-bottom: 5px solid #222222; */
  padding: 50px;
  max-width: 700px;
  margin: 32px auto 32px auto;
}

p,
ul {
  font-family: serif;
  font-size: 18px;
  line-height: 1.6;
}

a {
  font-weight: bold;
  color: #05080C;
}

nav,
h1,
h2,
h3 {
  text-align: center;
}

nav strong {
  font-style: italic;
}

hr {
    display: block;
    border: 0px;
    background-image: url("../images/hr_img_400.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  letter-spacing: 2px;
}

.profile {
  padding: 5px;
  display: block;
  margin: 0 auto 0 auto;
  /* float: right; */
}

ul.bullet li {
	list-style-image: url("../images/bullet-img-25.png");
}

.social-links {
  margin: 30px 0 30px 0;
  text-align: center;
}

/* This is for a class */
/*.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.navigation-list li{

}*/
